:root{
        /*colors*/
    --primary-color: #7BB661;
    --Accent-Yellow:#FFD700;
    --Dark-Brown:#5C4033;
    --Main-Background:#FFFDF7;
    --Section-Background:#F5F5DC;
    --Primary-Text:#333333;
    --Secondary-Text:#4A4A4A;
    --Tertiary-Text:#7D7D7D;
    --Link-Color:#007BFF;
    --Link-Hover-Color:#0056b3;
    --Soft-Border:#E0E0E0;
    --Soft-Shadow:0 2px 4px rgba(0, 0, 0, 0.1);
    --color-white:#FFFFFF;
    --color-black:#000000;
    
    /*fonts*/
    --font-family-body: 'Arial', sans-serif;
    --font-size-xxl:24px;
    --font-size-xml: 20px;
    --font-size-xxxl: 32px;
    --font-size-xxxl: 40px;
    --font-size-xxxl: 48px;
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 12px;

    --font-weight-l: 400;
    --font-weight-m: 500;
    --font-weight-s: 600;
    --font-weight-xxl: 700;
    --font-weight-xxxl: 800;
    --font-weight-xxxl: 900;
    --font-weight-xxxl: 1000;
    --line-height: 1.5;
    --border-radius: 5px;


    --padding-s:0.625rem; /*10px*/
    --padding-m:1.25rem; /*20px*/
    --padding-l:1.875rem; /*30px*/
    --padding-xl:2.5rem; /*40px*/
    --padding-xxl:3.125rem; /*50px*/
    --padding-xxxl:3.75rem; /*60px*/
    --padding-xxxl:4.375rem; /*70px*/

    --margin-s:0.625rem; /*10px*/
    --margin-m:1.25rem; /*20px*/
    --margin-l:1.875rem; /*30px*/
    --margin-xl:2.5rem; /*40px*/
    
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--color-white);
    border-radius: var(--border-radius);
    padding: var(--padding-s) var(--padding-m);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-primary:hover{
    background-color: var(--Accent-Yellow);
    color: var(--color-black);
    box-shadow: var(--Soft-Shadow);
}
.btn-primary:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-primary:active{
    background-color: var(--Dark-Brown);
    color: var(--color-white);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-primary:disabled{
    background-color: var(--Soft-Shadow);
    color: var(--color-white);
    cursor: not-allowed;
}
.btn-primary:disabled:hover{
    background-color: var(--Soft-Shadow);
    color: var(--color-white);
    box-shadow: none;
}
.btn-primary:disabled:focus{
    outline: none;
    box-shadow: none;
}
.btn-primary:disabled:active{
    background-color: var(--Soft-Shadow);
    color: var(--color-white);
    box-shadow: none;
}
.btn-secondary{
    background-color: var(--Accent-Yellow);
    color: var(--color-black);
    border-radius: var(--border-radius);
    padding: var(--padding-s) var(--padding-m);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-secondary:hover{
    background-color: var(--primary-color);
    color: var(--color-black);
    box-shadow: var(--Soft-Shadow);
}   
.btn-secondary:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-secondary:active{
    background-color: var(--Dark-Brown);
    color: var(--color-white);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-secondary:disabled{
    background-color: var(--Soft-Shadow);
    color: var(--color-white);
    cursor: not-allowed;
}
.btn.btn-secondary:disabled:hover{
    background-color: var(--Soft-Shadow);
    color: var(--color-white);
    box-shadow: none;
}
