/* Order Form Styles */
.bg-light {
    .container-lg{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .form-container {
        border-radius: var(--padding-s);
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        padding: 20px;
        box-shadow: 0 0 10px var(--color-black);
        background-color: var(--Main-Background);
    }

    .form-location {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .location-btn {
            max-width: 60%;

            @media screen and (min-width: 768px) {
                max-width: 40%;
            }
        }

        .fa-location-dot {
            margin-left: 5px;
        }
    }

    .sr-only {
        font-size: var(--font-size);
        font-weight: var(--font-weight-bold);
        color: var(--primary-color);
    }

    .form-check-label {
        font-size: var(--font-size-small);
    }

    #loader {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
        .text-primary {
            height: 40px;
            width: 40px;
        }

        .loader-msg{
            font-size: var(--font-size-l);
            font-weight: var(--font-weight-m);
            color: var(--color-white);
            text-align: center;
        }
    }
    .order-id{
        display: none;
    }
    .location{
        display: flex;
        justify-self: center;
    }
}
.overlay {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 10px; right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}