/* Order Form Styles */
.bg-light {
    .container-lg{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .form-container {
        border-radius: var(--padding-s);
        max-width: 500px;
        margin: auto;
        margin-top: 50px;
        padding: 20px;
        box-shadow: 0 0 10px var(--color-black);
        background-color: var(--Main-Background);
    }

    .form-location {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .location-btn {
            max-width: 60%;

            @media screen and (min-width: 768px) {
                max-width: 40%;
            }
        }

        .fa-location-dot {
            margin-left: 5px;
        }
    }

    .sr-only {
        font-size: var(--font-size);
        font-weight: var(--font-weight-bold);
        color: var(--primary-color);
    }

    .form-check-label {
        font-size: var(--font-size-small);
    }

    #loader {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
        .text-primary {
            height: 40px;
            width: 40px;
        }

        .loader-msg{
            font-size: var(--font-size-l);
            font-weight: var(--font-weight-m);
            color: var(--color-black);
            text-align: center;
        }
    }
    .order-id{
        display: none;
    }
    .location{
        display: flex;
        justify-self: center;
    }
}